*
  padding: 0
  margin: 0

h1
  font-size: 1.5em
  text-align: center
  color: #333
  margin: 0
  padding: 0
  font-weight: normal
  // text-align: center

h3
  font-size: 1.5em
  margin: 0
  padding: 0


body 
  background: #9fc5e8
  // font-size: 14px
  text-align: center
  
.data-container
  padding: 10px 10px

  justify-content: center
  width: 300px
  margin: 0 auto
  margin-top: 30%
  background: whitesmoke
  border: 2px solid #gray
  border-radius: 50px
  // text-align: center
  .title 
    text-align: center

  .card-content
    padding-top: 14px
    

  .card-img
    background: #cece
    height: 300px




