head
  title hello
  link(rel='stylesheet', type="text/css", href="css/main.css")
body
  .container
    .small-header
      img(src="images/small-img.png")


    #cart-checkout 
      .cart-pages
        

