head
  title hello
  link(rel='stylesheet', type="text/css", href="css/main.css")
  
body
  .data-container
    .card-img
      //- img(src="data")
      img(src=".../img/qr-code-scan.jpg", alt="")
    .card-content
      .titled
        h4 QR code componsnent
      .subtitle 
        h4 is a cogenerating QR codes
      .descriptiion
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis doloribus error qui quaerat eveniet voluptate cum exercitationem consequuntur temporibus, porro 


script(src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymou")