head
  title hello
  link(rel='stylesheet', type="text/css", href="css/main.css")
  script(src='js/main.min.js')
body
  .container
    .small-header
      img(src="images/small-img.png")

    #slideshow-header
      .slideshow
        img()
        img()
        img()

    #menu
      ul#trans-nav
        li
          a(src="#") Home
        li
          a(src="#") About
        li
          a(src="#") Blog Archive

