head
  title hello
  link(rel='stylesheet', type="text/css", href="css/main.css")
  
body
  .data-container
    .card-img
      img(src="images/image-qr-code.png", alt="qr code")
    .card-content
      .title
        h3 Improve your front-end skills by building your project
      .description
        span Scan the QR code to visit Frontend Mentor and take your coding skills to the next level 


script(src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymou")
script(src="js/main.min.js") // eslint-disable-line
